.table-constants {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5pc 5px;

}

.saveButton {
    margin-top: 1pc;
    margin-left: 4pc;
}

.save {
    border-color: #6c757d;
    background-color: #6c757d;
}

.selector {
    width: 173px;
}

.labelAge {
    margin-right: 60px;
}