
.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.avatar {
    align-self: center;
}

.graphic {
    width: 100%;
    display: flex;
    flex: 11;
    flex-direction: row;
    justify-content: space-between;
}

.constants {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.constants-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1pc;
}

.constants-items button {
    width: 60px;
    height: 60px;
    margin-right: 2pc;
    margin-left: 0.25pc;
    color: black;
}

.legend {
    margin-right: 1pc;
    width: 40px;
    height: 50px;
}

.actions {
    width: 100%;
    display: flex;
    flex: 9;
    flex-direction: column;
    justify-content: center;
}

.actions-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.actions-buttons button {
    width: 165px;
    height: 50px;
    margin-top: 2pc;
    white-space:pre-wrap;
    font-size: 12.4px;
}

.actions-bloques button{
    width: 201px;
    height: 53px;
    
    white-space:pre-wrap;
    font-size: 15.5px;
    margin-left: 5px;

}

.btn-hidden {
    visibility:hidden;
}

.actions-buttons button:hover {
    background: rgb(45, 45, 51);
    color: white
}

.actions-bloques button:hover {
    background: rgb(45, 45, 51);
    color: white
}

 .clicked:focus, .clicked{
    background-color: rgb(42, 42, 44);

}



.actions-buttons img {
    width: 20px;
    height: 35px;
    margin-top: 0pc;
}

.buttonModal{
    margin-top: 1pc;
}

.timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock button {
    width: 105px;
    margin-top: 1pc;
    background: white;
    border: none;
    display: flex;
}

.clock button:hover{
    background: none;
    border: none;
    display: flex;
}

.clock button:focus{
    background: none;
    border: none;
    display: flex;
}

.timer button{
    width: 250px;
    height: 40px;
    margin-top: 2pc;
    margin-bottom: 1pc;
}

.reset {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reset button {
    margin-top: 1pc;
    width: 150px;
}

#alert {
    position: absolute;
    z-index: 1;  
}

#arrowDown {
    margin-top: 2pc;
}

.fordward {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fordward img{
    margin-right: 5px;
}

.clock p{
    color: #6c757d;
    font-size: xx-large
}

.via{
    font-size: 13.5px;
    padding: 0px;

}

.test{
    display: flex;
    justify-content: center;
}



